[Unit]
Description=Software Radio System's Pantavisor Config Hook

[Service]
Type=oneshot
ExecStartPre=-/bin/sh -c 'echo performance > /sys/devices/system/cpu/cpufreq/policy0/scaling_governor'
ExecStart=-/bin/sh -c 'cp -f /pvconfigs/srslte/*.conf /etc/srslte/'
RemainAfterExit=true

[Install]
WantedBy=srsenb.service
WantedBy=srsepc.service
WantedBy=srsue.service
