[Unit]
Description=Software Radio Systems's LTE UE implementation
After=srspvconfig.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/srsue /pvconfigs/srslte/ue.conf
RestartSec=2

[Install]
WantedBy=multi-user.target
